<div class="shadow container-table">

    <div class="table">

        <table class="table">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Título profesional</th>
                    <th>Última actividad</th>
                    <th>Fecha subscripción</th>
                    <th>Estado de subscripción</th>
                    <th>Estado de conexión</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

        </table>

    </div>

</div>
