<div class="shadow container-table">

    <div class="table">

        <table class="table">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Título profesional</th>
                    <th>Última actividad</th>
                    <th>Fecha suscripción</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let susbcriber of susbcribers">
                    <td>{{susbcriber.Name}}</td>
                    <td>{{susbcriber.Email}}</td>
                    <td>{{susbcriber.PhoneNumber}}</td>
                    <td>{{susbcriber.JobTitle}}</td>
                    <td>{{susbcriber.LastActivity}}</td>
                    <td>{{susbcriber.SubscriptionDate}}</td>
                </tr>
            </tbody>

        </table>

    </div>

</div>
