.table-container{
    margin-top: 2%;
    padding: 1%;
}

.table{
    width: 100%;
    border-collapse: collapse;
}
th{
    padding: 1%;
}

tr {
    border: rgb(221, 219, 215) 1px solid;
    border-collapse: collapse;
    border-radius: 3px;
}

td{
    padding: 1%;
}

.pages{
    width: 100%;
    padding: 2%;
    display: inline-flex;
}

.pages button{
    margin-left: 2%;
}

.btn-cont{
    color: black;
}

.btn-current{
    background-color: green;
}