<div class="table-container">
    
        <div class="table">
    
            <table class="table">
    
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Título profesional</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
    
            </table>
    
        </div>
  
</div>


